
body{
    
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    background-color: bisque;
    background-size: cover;
    color: aliceblue;
    background-image: url(imagenes/patas.jpg);
}
h1{
    color:black;
    border: solid 1px black;
    padding: 1em;
    background-color: blanchedalmond;
    font-style: inherit;
    text-align: center;
    font-size: 50px 
}

img{
    display: inline;
    margin: 50px 20px;
    border-radius: 50%;
    border: solid 1px brown;
    background-color:white;
    
}
.caption{
    color: brown; 
    border: solid 1px blanchedalmond;
    background-color: blanchedalmond;
    box-sizing: border-box;
    padding: 1px;

}
section{
    border: 3px solid 1px bisque ;
    background: white;
    border-radius: 2px;
    padding: 5px;
    margin: 15px 0;
}
h3{
    color: black;
    border: solid 1px white;
    background-color: white;
    text-align: center;
    font-size: 2em;
    align-content: center;
}
footer{
    color: black;
    border: solid 1px grey;
    background-color: lightgray;
    padding: 2px;
}
#inputEspacioNumeros{
    width: 20%;
    border-radius: 5px;

}
#button{
    width: 15%;
    display: block;
    margin: auto;
    padding: 1px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 95%;
    cursor: pointer;
    border-radius: 10px;
    border: solid 1px black;
    background-color: lightgray;
}